name: MLflow CI with Conda (Micromamba)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup micromamba (uses conda.yaml)
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: MLProject/conda.yaml
          environment-name: obesity-ci-env
          cache-environment: true
          init-shell: bash

      - name: Verify conda env
        shell: bash
        run: |
          micromamba list

      - name: Run MLflow Project in conda env
        shell: bash
        run: |
          cd MLProject
          micromamba run -n obesity-ci-env mlflow run .
