name: MLflow CI with Docker (Advanced)

permissions:
  contents: write

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-train-docker:
    runs-on: ubuntu-latest

    steps:
      # =========================
      # 1. Checkout
      # =========================
      - name: Checkout repository
        uses: actions/checkout@v4

      # =========================
      # 2. Setup Conda (Micromamba)
      # =========================
      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: MLProject/conda.yaml
          environment-name: obesity-ci-env
          cache-environment: true
          init-shell: bash

      # =========================
      # 3. Run MLflow Project (Training)
      # =========================
      - name: Run MLflow Project
        shell: bash
        run: |
          cd MLProject
          micromamba run -n obesity-ci-env mlflow run . --env-manager=local

      # =========================
      # 4. Login Docker Hub
      # =========================
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # =========================
      # 5. Build & Push Docker Image
      # =========================
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./MLProject
          file: ./MLProject/Dockerfile
          push: true
          tags: cynranf/obesity-mlflow:latest
